@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body{
  background-color: #ffff;
}

.white{
  color: #ffffff;
}

.teal{
  background-color: #28bca5;
}

.darkgray{
  color: #5c5d5d;
}

.darkgray-bg{
  background-color: #5c5d5d;
}

.bxslider li{
	display: block;
}

#logo{
    padding: 22px 0;
}

a#cart{
    background-color: #28bca5;
    height: 32px;
    width: 32px;
    float: left;
}

#cart img{
  padding: 8% 5%;
}

.search-form{
    margin-right: 10px;
}

.header-social{
    padding: 29px 0;
}

.header-social .form-group{
    margin-bottom: 0px;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #333333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
  border-radius: 25px;
  background-color: #28bca5;
}

.caption {
     width: 100%;
    height: 795px;
    position: absolute;
}

.container {
  height: 50%;
  position: relative;
}

.vertical-align-wrap {
  position: absolute;
    width: 100%;
    height: 597px;
    display: table;
}

.vertical-align {
  display: table-cell;
  color: #ffffff;
}

vertical-align h1{
  color: #ffffff;
  text-shadow: 0px 3px 1px rgba(119, 119, 119, 1);
  text-transform: uppercase;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.center h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
}

.center span{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: block;
}

.center a{
  display: block;
  background-color: #28bca5;
  padding: 15px 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
}

.bottom_right {
  vertical-align: bottom;
  text-align: right;
  padding-bottom: 2%;
}

.bottom_right h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;

}

.bottom_right span{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: block;
}

.bottom_right a{
  display: block;
  background-color: #28bca5;
  padding: 15px 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  float: right;
}

.bottom_left {
  vertical-align: bottom;
  text-align: left;
  padding-bottom: 2%;
}

.bottom_left h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.bottom_left span{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: block;
}

.bottom_left a{
  display: block;
  background-color: #28bca5;
  padding: 15px 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  float: left;
}

.top_right {
  vertical-align: top;
  text-align: right;
  padding-bottom: 2%;
}

.top_right h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.top_right span{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: block;
}

.top_right a{
  display: block;
  background-color: #28bca5;
  padding: 15px 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  float: right;
}

.top_left {
  vertical-align: top;
  text-align: left;
  padding-bottom: 2%;
}

.top_left h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.top_left span{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: block;
}

.top_left a{
  display: block;
  background-color: #28bca5;
  padding: 15px 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  float: left;
}



.top_ledge{
  background-color: #28bca5;
  border-bottom: #0f8875 solid 2px;
}

.ledger-btn{
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}

.ledger-btn:hover {
    color: #ffffff;
    background-color: #28bca5;
    border-color: transparent;
}

.ledge-glyf{
  padding-left: #5px;
}


.ledger-dd{
  padding: 15px;
}

.screen-reader-text{
  display: none;
}

#searchsubmit{
  margin-left: -3px;
}

#df_phone{
  color: #ffffff;
  margin-right: 10px;
}

#df_search #searchform{
  margin-right: 28px;
  float: right;
}

#df_search #searchform #s{
  border: transparent;
  padding: 8px 5px;
  background-color: #fff;
  color: #5c5d5d;
}

#df_login, #df_search{
  float: right;
}

#df_search #searchform input#searchsubmit{
      border: transparent;
    margin-left: -4px;
    padding: 8px 13px;
    color: #5c5d5d;
    background-color: #fff;

}

.header-search, header-search-btn{
  display: inline-block;
}

#df_phone, #df_contact_form{
  display: inline-block;
}

.df_contact .btn-default:focus,
.df_contact .btn-default.focus {
  color: #ffffff;
  background-color: #28bca5;
  border-color: transparent;
}

.df_search_login .btn-default:focus,
.df_search_login .btn-default.focus{
  color: #ffffff;
  background-color: #28bca5;
  border-color: transparent;

}

.fadeInBlock
{
    opacity:0;
}


.bottom_ledge{
    background-color: #28bca5;
    border-top: #0f8875 solid 2px;
}

#df_footer_about #logo{
  padding:0;
}

.bottom_ledge{
  margin-top: 60px;
  padding: 22px 0;
}

.bottom_ledge p{
  color: #ffffff;
}


.bottom_info{
  background-color: #5c5d5d;
  padding: 15px 0;
  color: #ffffff;
}

#info_background{
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.site_intro{
  background-image: url('../img/intro_photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#info_background{
  padding: 50px 0;
}

.site_intro #intro_header h1{
  font-size: 40px;
}

.site_intro p{
  font-size: 14px;
  color: #ffffff;
}

#social_container{
  padding-top: 30px;
  padding-bottom: 30px;
}

#social_container h2,
#social_container p{
  text-align: center;
  color: #ffffff;
}

#social_container span#facebook:hover{
  background-color: #3B5998;
}

#social_container span#twitter:hover{
  background-color: #00ACED;
}

#social_container span#youtube:hover{
  background-color: #CD332D;
}

#social_container span#linkedin:hover{
  background-color: #007FB1;
}

#social_container span#instagram:hover{
  background-color: #3F729B;
}


#social_container #qt_container span{
  display: block;
  margin-right: 54px;
}

.last{
  display: block;
  margin-right: 0 !important; 
}

.social{
  width: 75px;
  float: left;
}

#qt_container{
  width: 51%;
  margin: 0px auto;
  padding-top: 15px;
}

/********* Overwrites ********/

.form-control {
  border: none;
  border-radius: 0;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #5c5d5d;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #28bca5;
    background-color: transparent;
}


.navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #28bca5;
    background-color: transparent;
}

.bx-wrapper .bx-pager{
  display: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #5d5d5d;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #28bca5;
}


@media (min-width: 992px){

#df_header{
  padding-right: 0;
}

#df_header .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

}





@media (min-width: 320px){

#df_search #searchform {
    margin-right: 0;
    margin-bottom: 15px;
    float: right;
}


  #df_header{
    background-color: #5c5d5d;
  }

  .navbar-toggle {
    position: relative;
    float: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: transparent;
    border-radius: 0;
    width: 100%;
}

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #5c5d5d;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

#df_phone {
    color: #ffffff;
    margin-right: 17px;
}

.btn {
    padding: 11px 17px;
    border-radius: 0;
}

.btn-info {
    color: #28bca5;
    background-color: #fff;
    border: none;
}

.btn-info:hover {
    color: #28bca5;
    background-color: #fff;
    border: none;
}


}

@media (min-width: 768px){

  /* Col-sm */

  #df_search #searchform {
    margin-bottom: 0;
}

  #df_search #searchform {
    margin-right: 0px;
    float: right;
}

  #df_header .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

#df_header{
    background-color: transparent;
  }


.navbar-default .navbar-nav > li > a {
    color: #5c5d5d;
}

.navbar-nav > li > a {
    padding: 35px 15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5c5d5d;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #fff;
}

  
}

@media (min-width: 1024px){

  /* Col-md */

#social_container #qt_container span {
    display: block;
    margin-right: 55px;
}

.vertical-align-wrap {
    height: 425px;
}

  #df_search #searchform {
    margin-right: 0px;
    float: right;
}

  #df_header .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

#df_header{
    background-color: transparent;
  }


.navbar-default .navbar-nav > li > a {
    color: #5c5d5d;
}

.navbar-nav > li > a {
    padding: 35px 15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5c5d5d;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #fff;
}


}

@media (min-width: 1199px){

/* Col-lg */

.vertical-align-wrap {
    height: 597px;
}

#df_header .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

#df_header{
    background-color: transparent;
  }


.navbar-default .navbar-nav > li > a {
    color: #5c5d5d;
}

.navbar-nav > li > a {
    padding: 35px 15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5c5d5d;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #fff;
}


}
